In [1]:
import json
import pandas as pd
import numpy as np
#imports regular expressions function
import re
# import create_engine from the sqlalchemy module to interface with SQL
from sqlalchemy import create_engine

In [2]:
file_dir = 'C:/Users/ldmar/Desktop/Data_Analytics_Class/Analysis_Projects/Movies_ETL/Movies-ETL'

In [3]:
f'{file_dir}/wikipedia-movies.json'

'C:/Users/ldmar/Desktop/Data_Analytics_Class/Analysis_Projects/Movies_ETL/Movies-ETL/wikipedia-movies.json'

In [4]:
with open(f'{file_dir}/wikipedia-movies.json', mode='r') as file:
    wiki_movies_raw = json.load(file)

In [5]:
#len()
len(wiki_movies_raw)

7311

In [6]:
# First 5 records
wiki_movies_raw[:5]

[{'url': 'https://en.wikipedia.org/wiki/The_Adventures_of_Ford_Fairlane',
  'year': 1990,
  'imdb_link': 'https://www.imdb.com/title/tt0098987/',
  'title': 'The Adventures of Ford Fairlane',
  'Directed by': 'Renny Harlin',
  'Produced by': ['Steve Perry', 'Joel Silver'],
  'Screenplay by': ['David Arnott', 'James Cappe', 'Daniel Waters'],
  'Story by': ['David Arnott', 'James Cappe'],
  'Based on': ['Characters', 'by Rex Weiner'],
  'Starring': ['Andrew Dice Clay',
   'Wayne Newton',
   'Priscilla Presley',
   'Lauren Holly',
   'Morris Day',
   'Robert Englund',
   "Ed O'Neill"],
  'Narrated by': 'Andrew "Dice" Clay',
  'Music by': ['Cliff Eidelman', 'Yello'],
  'Cinematography': 'Oliver Wood',
  'Edited by': 'Michael Tronick',
  'Productioncompany ': 'Silver Pictures',
  'Distributed by': '20th Century Fox',
  'Release date': ['July 11, 1990', '(', '1990-07-11', ')'],
  'Running time': '102 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$20 million',
  'Box office': '$21.4 million'},
 {'url': 'https://en.wikipedia.org/wiki/After_Dark,_My_Sweet',
  'year': 1990,
  'imdb_link': 'https://www.imdb.com/title/tt0098994/',
  'title': 'After Dark, My Sweet',
  'Directed by': 'James Foley',
  'Produced by': ['Ric Kidney', 'Robert Redlin'],
  'Screenplay by': ['James Foley', 'Robert Redlin'],
  'Based on': ['the novel', 'After Dark, My Sweet', 'by', 'Jim Thompson'],
  'Starring': ['Jason Patric',
   'Rachel Ward',
   'Bruce Dern',
   'George Dickerson'],
  'Music by': 'Maurice Jarre',
  'Cinematography': 'Mark Plummer',
  'Edited by': 'Howard E. Smith',
  'Productioncompany ': 'Avenue Pictures',
  'Distributed by': 'Avenue Pictures',
  'Release date': ['May 17, 1990',
   '(',
   '1990-05-17',
   ')',
   '(Cannes Film Market)',
   'August 24, 1990',
   '(',
   '1990-08-24',
   ')',
   '(United States)'],
  'Running time': '114 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$6 million',
  'Box office': '$2.7 million'},
 {'url': 'https://en.wikipedia.org/wiki/Air_America_(film)',
  'year': 1990,
  'imdb_link': 'https://www.imdb.com/title/tt0099005/',
  'title': 'Air America',
  'Directed by': 'Roger Spottiswoode',
  'Produced by': 'Daniel Melnick',
  'Screenplay by': ['John Eskow', 'Richard Rush'],
  'Based on': ['Air America', 'by', 'Christopher Robbins'],
  'Starring': ['Mel Gibson',
   'Robert Downey Jr.',
   'Nancy Travis',
   'David Marshall Grant',
   'Lane Smith'],
  'Music by': 'Charles Gross',
  'Cinematography': 'Roger Deakins',
  'Edited by': ['John Bloom', 'Lois Freeman-Fox'],
  'Productioncompany ': ['Carolco Pictures', 'IndieProd Company'],
  'Distributed by': 'TriStar Pictures',
  'Release date': ['August 10, 1990', '(', '1990-08-10', ')'],
  'Running time': '113 minutes',
  'Country': 'United States',
  'Language': ['English', 'Lao'],
  'Budget': '$35 million',
  'Box office': '$57,718,089'},
 {'url': 'https://en.wikipedia.org/wiki/Alice_(1990_film)',
  'year': 1990,
  'imdb_link': 'https://www.imdb.com/title/tt0099012/',
  'title': 'Alice',
  'Directed by': 'Woody Allen',
  'Produced by': 'Robert Greenhut',
  'Written by': 'Woody Allen',
  'Starring': ['Alec Baldwin',
   'Blythe Danner',
   'Judy Davis',
   'Mia Farrow',
   'William Hurt',
   'Keye Luke',
   'Joe Mantegna',
   'Bernadette Peters'],
  'Cinematography': 'Carlo Di Palma',
  'Edited by': 'Susan E. Morse',
  'Distributed by': 'Orion Pictures',
  'Release date': ['December 25, 1990', '(', '1990-12-25', ')'],
  'Running time': '106 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$12 million',
  'Box office': '$7,331,647'},
 {'url': 'https://en.wikipedia.org/wiki/Almost_an_Angel',
  'year': 1990,
  'imdb_link': 'https://www.imdb.com/title/tt0099018/',
  'title': 'Almost an Angel',
  'Directed by': 'John Cornell',
  'Produced by': 'John Cornell',
  'Written by': 'Paul Hogan',
  'Starring': ['Paul Hogan', 'Elias Koteas', 'Linda Kozlowski'],
  'Music by': 'Maurice Jarre',
  'Cinematography': 'Russell Boyd',
  'Edited by': 'David Stiven',
  'Distributed by': 'Paramount Pictures',
  'Release date': 'December 19, 1990',
  'Running time': '95 minutes',
  'Country': 'US',
  'Language': 'English',
  'Budget': '$25 million',
  'Box office': '$6,939,946 (USA)'}]

In [ ]:
# Last 5 records
wiki_movies_raw[-5:]

In [ ]:
# Some records in the middle
wiki_movies_raw[3600:3605]

In [ ]:
wiki_movies_df = pd.dataframe(wiki_movies_raw)

In [ ]:
wiki_movies_df.head()

In [ ]:
wiki_movies_df.columns.to_list()

In [ ]:
wiki_movies = [movie for movie in wiki_movies_raw
              if('Director' in movie or 'Directed by' in movie)
              and 'imbd_link' in movie
              and 'No. of episodes' not in movie]

In [ ]:
wiki_df = pd.dataframe(wiki_movies)

In [ ]:
wiki_df.head()

In [ ]:
#hold this and see where it goes
sorted(wiki_movies_df.columns.tolist())

In [ ]:
#To make a copy of movie, we'll use the dict() constructor.
def clean_movie(movie):
    movie = dict(movie) # creating nondestructive copy
    alt_titles = {}
    for key in ['Also known as', 'Arabic','Cantonese', 'Chinese','French',
               'Hangul', 'Hebrew', 'Hepburn', 'Japanese', 'Literally',
               'Mandarin', 'McCune-Reischauer', 'Original Title', 'Polish'
               'Revised Romanization', 'Romanized', 'Russian',
               'Simplified', 'Russian', 'Yiddish']:
            if key in movie:
                alt_titles [key] = movie[key]
                movie.pop (key)
            if len (alt_titles)> 0:
                movie['alt titles'] = alt_titles
     # merge column names
    def change_column_name(old_name, new_name):
        if old_name in movie:
            movie[new_name] = movie.pop(old_name)
    change_column_name('Adaptation by', 'Writer(s)')
    change_column_name('Country of origin', 'Country')
    change_column_name('Directed by', 'Director')
    change_column_name('Distributed by', 'Distributor')
    change_column_name('Edited by', 'Editor(s)')
    change_column_name('Length', 'Running time')
    change_column_name('Original release', 'Release date')
    change_column_name('Music by', 'Composer(s)')
    change_column_name('Produced by', 'Producer(s)')
    change_column_name('Producer', 'Producer(s)')
    change_column_name('Productioncompanies ', 'Production company(s)')
    change_column_name('Productioncompany ', 'Production company(s)')
    change_column_name('Released', 'Release Date')
    change_column_name('Release Date', 'Release date')
    change_column_name('Screen story by', 'Writer(s)')
    change_column_name('Screenplay by', 'Writer(s)')
    change_column_name('Story by', 'Writer(s)')
    change_column_name('Theme music composer', 'Composer(s)')
    change_column_name('Written by', 'Writer(s)')           
            return movie

In [ ]:
clean_movies = [clean_movie(movie) for movie in wiki-movies]

In [ ]:
#Set wiki_movies_df to be the DataFrame created from clean_movies, and print out a list of the columns.

wiki_movies_df = pd.DataFrame(clean_movies)
sorted(wiki_movies_df.columns.tolist())

In [ ]:
#removing duplicate rows using searching for text with Regex which is a recognizable pattern for the code to read

wiki_movies_df['imdb_id'] = wiki_movies_df['imdb_link'].str.extract(r'(tt\d{7})')
print(len(wiki_movies_df))

#when text is found this is command to remove the duplicate values
wiki_movies_df.drop_duplicates(subset='imdb_id', inplace=True)
print(len(wiki_movies_df))
wiki_movies_df.head()

In [ ]:
# make a list of columns that have less than 90% null values and use to trim dataset.
wiki_columns_to_keep = [column for column in wiki_movies_df.columns if wiki_movies_df[column].isnull().sum() < len(wiki_movies_df) * 0.9]
wiki_movies_df = wiki_movies_df[wiki_columns_to_keep]

In [ ]:
#identify which columns need to be converted to a different type of variable
wiki_movies_df.dtypes

In [ ]:
box_office = wiki_movies_df['Box office'].dropna()

In [ ]:
#data is entered as a string
def is_not_a_string(x):
    return type(x) != str

box_office[box_office.maplambda x: type(x) != str)]

In [ ]:
#make a separator string and then call the join() method on it
box_office = box_office.apply(lambda x: ' '.join(x) if type(x) == list else x)

In [ ]:
#regex statement put together to start with a dollar sign, add arbitratry number of digits, add optional decimal point,
#add a space (maybe more than one), add the word "million" or "billion,"
form_one = r'\$\d+\.?\d*\s*[mb]illion'

In [ ]:
# count up how many box office values match first form by using the str.contains() method on box_office.
#ignore whether letters are uppercase or lowercase, add argument called flags, set it equal to re.IGNORECASE. 
#In case the data is not a string, we'll add the na=False argument to parse the non-string data to False. 
#call the sum()method to count up the total number that return True

box_office.str.contains(form_one, flags=re.IGNORECASE, na=False).sum()

In [ ]:
# Start with a dollar sign
# Add a group of one to three digits
# Match at least one group starting with a comma and followed by exactly three digits.

form_two = r'\$\d{1,3}(?:,\d{3})+'

#countnumber of box office values matchingpattern, 
#put an r before the string and set the flags option to include re.IGNORECASE.
box_office.str.contains(form_two, flags=re.IGNORECASE, na=False).sum()

In [ ]:
#code easier to understand,  create two Boolean Series called matches_form_one and matches_form_two, 
#select the box office values that don't match either
matches_form_one = box_office.str.contains(form_one, flags=re.IGNORECASE, na=False)
matches_form_two = box_office.str.contains(form_two, flags=re.IGNORECASE, na=False)

In [ ]:
#Pandas has element-wise logical operators:
#The element-wise negation operator is the tilde: ~ (similar to "not")
#The element-wise logical "and" is the ampersand: &
#The element-wise logical "or" is the pipe: |
box_office[~matches_form_one & ~matches_form_two]

In [ ]:
#values have spaces in between the dollar sign and the number add \s* after the dollar signs
#values use a period as a thousands separator, not a comma

form_one = r'\$\s*\d+\.?\d*\s*[mb]illion'
form_two = r'\$\s*\d{1,3}(?:,\d{3})+'

In [ ]:
# Some values are given as a range
box_office = box_office.str.replace(r'\$.*[-—–](?![a-z])', '$', regex=True)

In [ ]:
# "Million" is sometimes misspelled as "millon."
form_one = r'\$\s*\d+\.?\d*\s*[mb]illi?on'

In [ ]:
# extract only the parts of the strings that match
box_office.str.extract(f'({form_one}|{form_two})')

In [ ]:
#turn the extracted values into a numeric value
# use the re module to access the regular expression functions with use of re.match(pattern, string) 
# to see if string matches a pattern.  
# make some small alterations to the forms we defined, splitting the million and billion matches from form one.

def parse_dollars(s):
    # if s is not a string, return NaN
    if type(s) != str:
        return np.nan

    # if input is of the form $###.# million
    if re.match(r'\$\s*\d+\.?\d*\s*milli?on', s, flags=re.IGNORECASE):

        # remove dollar sign and " million"
        s = re.sub('\$|\s|[a-zA-Z]','', s)

        # convert to float and multiply by a million
        value = float(s) * 10**6

        # return value
        return value

    # if input is of the form $###.# billion
    elif re.match(r'\$\s*\d+\.?\d*\s*billi?on', s, flags=re.IGNORECASE):

        # remove dollar sign and " billion"
        s = re.sub('\$|\s|[a-zA-Z]','', s)

        # convert to float and multiply by a billion
        value = float(s) * 10**9

        # return value
        return value

    # if input is of the form $###,###,###
    elif re.match(r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)', s, flags=re.IGNORECASE):

        # remove dollar sign and commas
        s = re.sub('\$|,','', s)

        # convert to float
        value = float(s)

        # return value
        return value

    # otherwise, return NaN
    else:
        return np.nandef parse_dollars(s):

In [ ]:
#extract the values from box_office using str.extract. 
# apply parse_dollars to the first column in the DataFrame returned by str.extract

wiki_movies_df['box_office'] = box_office.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)

In [ ]:
#box office column no longer needed
wiki_movies_df.drop('Box office', axis=1, inplace=True)

In [ ]:
#parsing budget data
# Create a budget variable with the following code

udget = wiki_movies_df['Budget'].dropna()

In [ ]:
# Convert any lists to strings:
budget = budget.map(lambda x: ' '.join(x) if type(x) == list else x)

In [ ]:
# remove any values between a dollar sign and a hyphen (for budgets given in ranges)
budget = budget.str.replace(r'\$.*[-—–](?![a-z])', '$', regex=True)

In [ ]:
# ame pattern matches that you created to parse the box office data
matches_form_one = budget.str.contains(form_one, flags=re.IGNORECASE, na=False)
matches_form_two = budget.str.contains(form_two, flags=re.IGNORECASE, na=False)
budget[~matches_form_one & ~matches_form_two]

In [ ]:
# Remove the citation references

budget = budget.str.replace(r'\[\d+\]\s*', '')

budget[~matches_form_one & ~matches_form_two]

In [ ]:
#parse the budget values
iki_movies_df['budget'] = budget.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)

In [ ]:
#drop the original Budget column
wiki_movies_df.drop('Budget', axis=1, inplace=True)

In [ ]:
#Parse Release Date
#make a variable that holds the non-null values of Release date in the DataFrame, converting lists to strings:
release_date = wiki_movies_df['Release date'].dropna().apply(lambda x: ' '.join(x) if type(x) == list else x)

In [ ]:
#forms to parse:

#Full month name, one- to two-digit day, four-digit year (i.e., January 1, 2000)
date_form_one = r'(?:January|February|March|April|May|June|July|August|September|October|November|December)\s[123]?\d,\s\d{4}'

#Four-digit year, two-digit month, two-digit day, with any separator (i.e., 2000-01-01)
date_form_two = r'\d{4}.[01]\d.[0123]\d'

#Full month name, four-digit year (i.e., January 2000)
date_form_three = r'(?:January|February|March|April|May|June|July|August|September|October|November|December)\s\d{4}'


#Four-digit year
date_form_four = r'\d{4}'

In [ ]:
#extract the dates with
release_date.str.extract(f'({date_form_one}|{date_form_two}|{date_form_three}|{date_form_four})', flags=re.IGNORECASE)

In [ ]:
#Use the built-in to_datetime() method in Pandas
wiki_movies_df['release_date'] = pd.to_datetime(release_date.str.extract(f'({date_form_one}|{date_form_two}|{date_form_three}|{date_form_four})')[0], infer_datetime_format=True)

In [ ]:
#Parse Running Time
# variable that holds the non-null values of Release date in the DataFrame, converting lists to strings
unning_time = wiki_movies_df['Running time'].dropna().apply(lambda x: ' '.join(x) if type(x) == list else x)

In [ ]:
# using string boundaries
running_time.str.contains(r'^\d*\s*minutes$', flags=re.IGNORECASE, na=False).sum()

In [ ]:
#more general by only marking the beginning of the string, and accepting other abbreviations of "minutes" by only searching up to the letter "m."
running_time.str.contains(r'^\d*\s*m', flags=re.IGNORECASE, na=False).sum()

In [ ]:
# remaining 17 follow:
running_time[running_time.str.contains(r'^\d*\s*m', flags=re.IGNORECASE, na=False) != True]

In [ ]:
# extract digits, and we want to allow for both possible patterns
running_time_extract = running_time_extract.apply(lambda col: pd.to_numeric(col, errors='coerce')).fillna(0)

In [ ]:
# apply a function that will convert the hour capture groups and minute capture groups to minutes 
# if the pure minutes capture group is zero
wiki_movies_df['running_time'] = running_time_extract.apply(lambda row: row[0]*60 + row[1] if row[2] == 0 else row[2], axis=1)

In [ ]:
# can drop Running time from the dataset 
wiki_movies_df.drop('Running time', axis=1, inplace=True)

In [ ]:
#for csv data check is that all of the columns came in as the correct data types.
kaggle_metadata.dtypes

In [ ]:
# convert the data types for each of the six columns that need to be converted
kaggle_metadata['adult'].value_counts()

In [ ]:
# remove the bad data
kaggle_metadata[~kaggle_metadata['adult'].isin(['True','False'])]

In [ ]:
# keep rows where the adult column is False, and then drop the adult column.
kaggle_metadata = kaggle_metadata[kaggle_metadata['adult'] == 'False'].drop('adult',axis='columns')

In [ ]:
# Convert Data Types
kaggle_metadata['video'] == 'True'

In [ ]:
# The above code creates the Boolean column we want. We just need to assign it back to video:
kaggle_metadata['video'] = kaggle_metadata['video'] == 'True'

In [ ]:
# For numeric columns,use the to_numeric() method from Pandas with errors= argument is set to 'raise', 
#to know if any data can't be converted to numbers.

kaggle_metadata['budget'] = kaggle_metadata['budget'].astype(int)
kaggle_metadata['id'] = pd.to_numeric(kaggle_metadata['id'], errors='raise')
kaggle_metadata['popularity'] = pd.to_numeric(kaggle_metadata['popularity'], errors='raise')

In [ ]:
#Srelease_date is in a standard format, to_datetime() will convert 
kaggle_metadata['release_date'] = pd.to_datetime(kaggle_metadata['release_date'])

In [ ]:
# Reasonability Checks on Ratings Data
# use the info() method on DataFrame. Since ratings dataset has so many rows, set the null_counts option to True.
ratings.info(null_counts=True)

In [ ]:
# specify in to_datetime() that the origin is 'unix' and the time unit is seconds
pd.to_datetime(ratings['timestamp'], unit='s')

In [ ]:
# Since the output of prior code looks reasonable, assign it to the timestamp column
ratings['timestamp'] = pd.to_datetime(ratings['timestamp'], unit='s')

In [ ]:
# look at the statistics of the actual ratings and see if there are any glaring errors
pd.options.display.float_format = '{:20,.2f}'.format
ratings['rating'].plot(kind='hist')
ratings['rating'].describe()

In [ ]:
# Print a list of the columns to identify redundancies by using the suffixes parameter 
#to simplify identifying which table each column came from
movies_df = pd.merge(wiki_movies_df, kaggle_metadata, on='imdb_id', suffixes=['_wiki','_kaggle'])

In [ ]:
# Competing data between datasets:
# Wiki                     Movielens                Resolution
#--------------------------------------------------------------------------
# title_wiki               title_kaggle
# running_time             runtime
# budget_wiki              budget_kaggle
# box_office               revenue
# release_date_wiki        release_date_kaggle
# Language                 original_language
# Production company(s)    production_companies

In [ ]:
# look at some of the titles
movies_df[['title_wiki','title_kaggle']]

In [ ]:
# Look at the rows where the titles don't match.
movies_df[movies_df['title_wiki'] != movies_df['title_kaggle']][['title_wiki','title_kaggle']]

In [ ]:
# confirm there aren't any missing titles in the Kaggle data with the following code
# Show any rows where title_kaggle is empty
movies_df[(movies_df['title_kaggle'] == '') | (movies_df['title_kaggle'].isnull())]

In [ ]:
#Runtime
#following code will fill in missing values with zero and make the scatter plot
movies_df.fillna(0).plot(x='running_time', y='runtime', kind='scatter')

In [ ]:
# budget_wiki and budget_kaggle are numeric, make another scatter plot to compare the values
movies_df.fillna(0).plot(x='budget_wiki',y='budget_kaggle', kind='scatter')

In [ ]:
# box_office and revenue columns are numeric, make another scatter plot.
movies_df.fillna(0).plot(x='box_office', y='revenue', kind='scatter')

#  look at the scatter plot for everything less than $1 billion in box_office due to outliers
movies_df.fillna(0)[movies_df['box_office'] < 10**9].plot(x='box_office', y='revenue', kind='scatter')

In [ ]:
# scatter plot only works on numeric data so use workaround. 
# Use regular line plot (which can plot date data), and change style to only put dots by adding style='.' to the plot() method
#Release Date
movies_df[['release_date_wiki','release_date_kaggle']].plot(x='release_date_wiki', y='release_date_kaggle', style='.')

In [ ]:
# investigate that wild outlier around 2006
movies_df[(movies_df['release_date_wiki'] > '1996-01-01') & (movies_df['release_date_kaggle'] < '1965-01-01')]

In [ ]:
movies_df[(movies_df['release_date_wiki'] > '1996-01-01') & (movies_df['release_date_kaggle'] < '1965-01-01')].index

In [ ]:
# drop that row
movies_df = movies_df.drop(movies_df[(movies_df['release_date_wiki'] > '1996-01-01') & (movies_df['release_date_kaggle'] < '1965-01-01')].index)

In [ ]:
# see if there are any null values:
movies_df[movies_df['release_date_wiki'].isnull()]

In [ ]:
# convert the lists in Language to tuples so that the value_counts() method will work.
movies_df['Language'].apply(lambda x: tuple(x) if type(x) == list else x).value_counts(dropna=False)

In [ ]:
#Kaggle data, there are no lists, so we can just run value_counts() on it.
movies_df['original_language'].value_counts(dropna=False)

In [ ]:
# Production Companies
# look at a small number of samples.
movies_df[['Production company(s)','production_companies']]

In [ ]:
# Put It All Together
# drop the title_wiki, release_date_wiki, Language, and Production company(s) columns
movies_df.drop(columns=['title_wiki','release_date_wiki','Language','Production company(s)'], inplace=True)

In [ ]:
# make a function that fills in missing data for a column pair and then drops the redundant column
def fill_missing_kaggle_data(df, kaggle_column, wiki_column):
    df[kaggle_column] = df.apply(
        lambda row: row[wiki_column] if row[kaggle_column] == 0 else row[kaggle_column]
        , axis=1)
    df.drop(columns=wiki_column, inplace=True)

In [ ]:
#  run the function for the three column pairs that we decided to fill in zeros.
fill_missing_kaggle_data(movies_df, 'runtime', 'running_time')
fill_missing_kaggle_data(movies_df, 'budget_kaggle', 'budget_wiki')
fill_missing_kaggle_data(movies_df, 'revenue', 'box_office')
movies_df

In [ ]:
# check for no columns with only one value, as doesn't really provide any information. 
#  convert lists to tuples for value_counts() to work.

for col in movies_df.columns:
    lists_to_tuples = lambda x: tuple(x) if type(x) == list else x
    value_counts = movies_df[col].apply(lists_to_tuples).value_counts(dropna=False)
    num_values = len(value_counts)
    if num_values == 1:
        print(col)

In [ ]:
# 'video' only has one value:
movies_df['video'].value_counts(dropna=False)

In [ ]:
# one way to reorder the columns:
movies_df = movies_df.loc[:, ['imdb_id','id','title_kaggle','original_title','tagline','belongs_to_collection','url','imdb_link',
                       'runtime','budget_kaggle','revenue','release_date_kaggle','popularity','vote_average','vote_count',
                       'genres','original_language','overview','spoken_languages','Country',
                       'production_companies','production_countries','Distributor',
                       'Producer(s)','Director','Starring','Cinematography','Editor(s)','Writer(s)','Composer(s)','Based on'
                      ]]

In [ ]:
# rename the columns to be consistent
movies_df.rename({'id':'kaggle_id',
                  'title_kaggle':'title',
                  'url':'wikipedia_url',
                  'budget_kaggle':'budget',
                  'release_date_kaggle':'release_date',
                  'Country':'country',
                  'Distributor':'distributor',
                  'Producer(s)':'producers',
                  'Director':'director',
                  'Starring':'starring',
                  'Cinematography':'cinematography',
                  'Editor(s)':'editors',
                  'Writer(s)':'writers',
                  'Composer(s)':'composers',
                  'Based on':'based_on'
                 }, axis='columns', inplace=True)

In [ ]:
# use a groupby on the "movieId" and "rating" columns and take the count for each group.
rating_counts = ratings.groupby(['movieId','rating'], as_index=False).count()

In [ ]:
# pivot data so movieId is the index, columns will be all the rating values, rows will be the counts for each rating value.
ating_counts = ratings.groupby(['movieId','rating'], as_index=False).count() \
                .rename({'userId':'count'}, axis=1) \
                .pivot(index='movieId',columns='rating', values='count')

In [ ]:
#rename columns so they're easier to understand by prepending rating_ to each column with a list comprehension
ating_counts.columns = ['rating_' + str(col) for col in rating_counts.columns]

In [ ]:
# we need to use a left merge, since we want to keep everything in movies_df
movies_with_ratings_df = pd.merge(movies_df, rating_counts, left_on='kaggle_id', right_index=True, how='left')

In [ ]:
# not every movie got rating for each rating level, there will be missing values instead of zeros. We have to fill those
movies_with_ratings_df[rating_counts.columns] = movies_with_ratings_df[rating_counts.columns].fillna(0)

In [ ]:
from config import db_password
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/movie_data"